@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.CrearTableroViewModel

<h1>Crear Tablero</h1>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form asp-controller="Tablero" asp-action="ConfirmarwTablero" method="post">
            <fieldset>
                <legend>Detalles de la tarea</legend>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.NombreDeTablero">Nombre Del Tablero</label>
                    <input type="text" class="form-control" asp-for="@Model.NombreDeTablero" />
                    <span asp-validation-for="@Model.NombreDeTablero" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.DescripcionDeTablero">Descripción del Tablero</label>
                    <textarea type="text" class="form-control" asp-for="@Model.DescripcionDeTablero"></textarea>
                    <span asp-validation-for="@Model.DescripcionDeTablero" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.IdUsuarioPropietario">Id del Usuario Propietario</label>
                    <select class="from-select" asp-for="@Model.IdUsuarioPropietario">
                        <option value="" selected disabled>--- Seleccionar ---</option>
                        @foreach (var usuario in Model.ListadoUsuarios!)
                        {
                            <option value="@usuario.IdUsuarioM">@usuario.NombreDeUsuarioM</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.IdUsuarioPropietario" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Agregar Tablero</button>
                    <a asp-controller="Tablero" asp-action="Index" class="btn btn-danger" type="submit">Cancelar</a>
                </div>
        </form>
    </div>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}