@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.ModificarTableroViewModel
<h1>Modificar Tablero</h1>
<div>
    <p>Estás modificando el Tablero "@Model.NombreDeTablero"?</p>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form asp-controller="Tablero" asp-action="ConfirmarModificarTablero" method="post">

            <input asp-for="@Model.IdTablero" />

            <div class="mb-3">
                <label class="form-label" asp-for="@Model.NombreDeTablero"></label>
                <input class="form-control" asp-for="@Model.NombreDeTablero" />
                <span asp-validation-for="@Model.NombreDeTablero" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="@Model.DescripcionDeTablero"></label>
                <input class="form-control" asp-for="@Model.DescripcionDeTablero" />
                <span asp-validation-for="@Model.DescripcionDeTablero" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="@Model.IdUsuarioPropietario"></label>
                <input class="form-control" asp-for="@Model.IdUsuarioPropietario" />
                <span asp-validation-for="@Model.IdUsuarioPropietario" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-success">Actualizar</button>
                <a asp-controller="Tablero" asp-action="MostrarTodosTablero" class="btn btn-danger">Cancelar</a>
            </div>

        </form>
    </div>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}