@using tl2_tp10_2023_VarelaJoseAlberto.Repositorios
@using tl2_tp10_2023_VarelaJoseAlberto.ViewModels
@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.ListarTablerosViewModel
<h1>Todos Los Tableros</h1>
<div>
    <a asp-controller="Tablero" asp-action="AgregarTablero">Agregar Tablero</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col" style="visibility: hidden;">Id Tablero</th>
            <th scope="col">Nombre de Tablero</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Id del Usuario Propietario</th>
            <th scope="col">Ops</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosVM)
        {
            <tr>
                <th scope="row" style="visibility: hidden;">@tablero.IdTablero </th>
                <td>@tablero.NombreTablero</td>
                <td>@tablero.Descripcion</td>
                <td>@tablero.IdUsuarioPropietario</td>
                <td>
                    <a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.IdTablero">
                        Editar</a>
                    <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.IdTablero">
                        Eliminar</a>
                    <a asp-controller="Tarea" asp-action="MostrarTareasTableroIdEspecifico"
                        asp-route-idTablero="@tablero.IdTablero">
                        Ver tareas</a>

                </td>
            </tr>
        }
    </tbody>
</table>
