@* @model List<tl2_tp10_2023_VarelaJoseAlberto.Models.Tarea> *@
@using tl2_tp10_2023_VarelaJoseAlberto.Repositorios
@* @using tl2_tp10_2023_VarelaJoseAlberto.ViewModels *@
@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.ListarTareaViewModel
<div>
    <a asp-controller="Tarea" asp-action="CrearTarea">Agregar Tareas</a>
</div>
<h1>Lista de Tareas</h1>

<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Color</th>
            <th scope="col">Id Tablero</th>
            <th scope="col">Id Usuario Asignado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.TareasVM)
        {
            <tr>
                <td>@tarea.IdTarea</td>
                <td>@tarea.NombreTarea</td>
                <td>@tarea.DescripcionTarea</td>
                <td>@tarea.EstadoTarea</td>
                <td><input type="color" value="@tarea.Color" disabled /></td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.IdUsuarioAsignado

                </td>
                <td>
                    @if (Autorizacion.EsAdmin(ViewContext.HttpContext))
                    {
                        <a asp-controller="Tarea" asp-action="ModificarTarea" asp-route-id="@tarea.IdTarea">Editar</a>
                        <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-id="@tarea.IdTarea">Eliminar</a>
                    }
                    else
                    {
                        <a asp-controller="Tarea" asp-action="ModificarTarea" asp-route-id="@tarea.IdTarea">Editar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
