@* @using tl2_tp10_2023_VarelaJoseAlberto.ViewModels
@model List<UsuarioViewModel> *@
@using tl2_tp10_2023_VarelaJoseAlberto.Repositorios
@using tl2_tp10_2023_VarelaJoseAlberto.ViewModels
@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.ListarUsuariosViewModel
<div>
    <a asp-controller="Usuario" asp-action="AgregarUsuario">Agregar Usuario</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col" style="visibility: hidden;">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.ListaUsuariosVM)
        {
            <tr>
                <th scope="row" style="visibility: hidden;">@usuario.IdUsuarioVM</th>
                <td>@usuario.NombreDeUsuarioVM</td>
                <td>@usuario.RolVM</td>
                <td>
                    <a asp-controller="Usuario" asp-action="ModificarUsuario"
                        asp-route-idUsuario="@usuario.IdUsuarioVM">Editar</a>
                    <a asp-controller="Usuario" asp-action="EliminarUsuario"
                        asp-route-idUsuario="@usuario.IdUsuarioVM">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
